

body {
	background-image: url('../images/shaktiman.PNG');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: black;
	width: 424px;
	color: white;
	padding: 15px;
}

h1 {
	font-size: 80px
}

h2 {
	background: #75c1f6;
	color: black;
	padding: 5px;
	border-radius: 5px;
}